<% layout('layout') %>
  
<title>
  404
</title>
<body class="">
  <%- include('../Navbar') %>
  <div class="container text-white">

    <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-dark bg-spy rounded">
      <div class="my-3 bg-spy-no-blur">
        <h1 class="display-4 font-weight-normal text-start">
          Welcome to another world!
        </h1>
        <p class="lead font-weight-normal text-start">
          เว็บไซต์ฮาเรชิเป็นเว็บไซต์ศูนย์รวมข้อมูลเกี่ยวกับอนิเมะช่องทางการดูลิขสิทธิ์แท้ <br>
          พร้อมยังมีระบบฟอรั่มหรือเว็บบอร์ดที่ให้ทุกคนได้เข้ามาพูดคุยร่วมกันได้!
        </p>
      </div>
      <div class="my-3 bg-spy-no-blur ">
        <div class="font-weight-normal text-end">
          <div class="center">
            <a class="btn btn-primary" href="/browse">
              เริ่มต้นค้นหา
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-dark rounded" >

        <!-- START ROW -->
        <!-- 404page -->
        <div class="row">
          <div class="col-md-12">
              <div class="card-body">
                <h1 class="card-title">
                  Page not found
                  <hr>
                </h1>
                <!-- image -->
                <img src="/404.webp" class="img-fluid rounded" alt="">
                
                <p class="card-text mt-3">
                  404 not found
                </p>
                <a href="/" class="btn btn-primary">
                  กลับสู่หน้าหลัก
                </a>
              </div>
          </div>
        </div>
        <!-- END ROW -->

    </div>
  </div>